* {
    margin: 0;
}
#grupoPersonagens {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #6B5C5F;
    flex-wrap: wrap;
    height: 100vh;
}

#titulo {
    position: absolute;
    top: 30px;
    text-align: center;
    font-family: 'Ninja Naruto', sans-serif;
    color: #FFE182;
}

.personagem{
    height: 400px;
    width: 200px;
    background-color: #E99D0E;
    border-radius: 20px;
}

.personagem h2{
    text-align: center;
}

.personagem h2, li{
    color:  white;
}